.class-page-navi {
  position: relative;
  margin-top: 20px;
}
.class-page-navi .port {
  position: absolute;
  right: -200px;
  background: none;
rgba(39,41,43,0.15)
  display: -moz-box;
/* OLD - Firefox 19- (buggy but mostly works) */
  display: flex;
  display: -webkit-box;
/* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;
/* TWEENER - IE 10 */
  display: -webkit-box;
/* NEW - Chrome */
  -webkit-box-align: center;
  -o-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  border: 1px solid rgba(39,41,43,0.15);
  border-radius: 0.2857rem;
  font-size: 12px;
}
.class-page-navi .port div {
  padding: 4px;
}
.class-page-navi .port input {
  min-width: 60px;
  display: block;
  margin: 0;
  padding: 4px;
  border: none;
  background: rgba(39,41,43,0.15);
}
.class-page-navi .port .input {
  background: none;
  outline: none;
}
.class-page-navi .port .input:focus {
  outline: none;
  color: #000;
  font-weight: bold;
}
.class-page-navi .pin {
  border: none !important;
  cursor: default;
  margin-left: -1px;
}
.file-picker input[type="file"] {
  display: none;
}
.class-btn-add-files {
  width: 200px;
  height: 40px;
  position: relative;
  overflow: hidden;
  background: #20a7e9;
  color: #fff;
  border-radius: 12px;
  line-height: 40px;
  text-align: center;
}
.class-btn-add-files input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.class-btn-add-files .text {
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.mod-dnu {
  width: 80%;
  margin: 20px auto;
}
.mod-dnu header {
  padding: 12px;
  margin-bottom: 30px;
}
.mod-dnu header .grid .column {
  text-align: center;
}
.mod-dnu header .ui .corner i {
  cursor: pointer;
}
.mod-dnu .diagram-box {
  height: 400px;
}
