@import "../../liblus/_css3";
@import "../../liblus/widget";
@import "../../reset";

body {
	
}

ul {
	padding: 16px;
	max-width: 62%;
	min-width: 480px;
	margin: 0 auto;
	background: #eee;
}
.a, .b {
	box()
	.picheader {
		size(60px);
		border-radius: 2px;
		display: block;
		margin: 12px;
		margin-top: 0;
	}

	min-height: 60px;
	margin-bottom: 20px;
	.box {
		flex()
		.content {
			padding: 12px;
			border-radius: 3px;
			background: #fff;
			// max-width: 40%;
		}
		.picmsg {
			width: 200px;
		}
	}
}

.a .box {
	margin-right: 84px;
}

.b .box {
	margin-left: 84px;
	.name {
		text-align: right;
	}
	.content {
		text-align: right;
	}
}


