@import "../../liblus/_css3";
@import "../../liblus/widget";
 

.mod-ad-list {
	.item {
		color: #000;
		font-weight: bold;
		.col1 {
			 
			max-width: 200px;
			text-align: center;
			
			.wrap {
				background: #000;
				display: inline-block;
			}
		}

		a.cover {
			position: relative;
			text-align: center;
			background: #000; auto
			width: 100%;
			box();		
			pack()
			align()
		}
		p {
			text-align: center;
			padding: 4px;
			 
			color: #fff;
			position: relative;
		}
		img {
			width: 100%;
			margin: 0;
			vertical-align: middle;
		}
		.desc {
			line-height: 20px;
			height: @line-height;
			&.expand {
				height: auto;
			}
		}
		.edit {
			position: absolute;
			top: 10;
			right: 0;
		}
		.icons {
			img {
				max-height: 100px;
				max-width: 100px;
			}
		}
	}
}
