
<div class="mod-brushperson-publish" style="padding: 20px;">
	<div class="header">
		<a href="/brush/person/list" class="ui down blue button action-paresh">
			<i class="chevron left icon"></i>
			返回
		</a>
 	</div>
	<br>
	<br>
	<form class="ui form" action="/_bridge/brush/person" method="post">
		<div class="field">
			<input type="text" placeholder="手机号" name="phone" value="" />
		</div>
		<div class="field">
			<input type="text" placeholder="姓名" name="name" value="" />
		</div>
		<div class="ui button green big large btn-submit" style="margin: 20px;">提交</div>
	</form>
</div>
<script type="text/javascript" src="/static/js/mod/brushperson/publish.js"></script>