.role-box {
	margin: 20px 0;
}
.role-box .roles {
	padding: 0;
	.item {
		margin: 10px 0;
		background: #929292;
		color: #fff;
		padding: 10px;
		border-radius: 3px;
		h2 {
			font-size: 12px;
		}
		&.select {
			background: red;
		}
		ul {
			display: none;
		}
		.remove {
			display: none;
		}
		.expand {
			position: absolute;
			right: 0;
			top: 0;
			padding: 4px;
		}
	}
}