<link rel="stylesheet" href="/static/plugins/datetime.picker/jquery.datetimepicker.css">
<div class="mod-statistics"  data-type="${type}">
	<%
		var viewMap = {
			1: '版本统计',
			2: '区域统计'
		}
	%>
	<div class="tab-header">
		<div class="ui top attached tabular menu">
			<% for(var i in viewMap) { %>
			<%
				var isActive = '';
				if (type==i) {
					isActive = 'active';
				}
			%>
			<a href="/admin/data/analysis?type=${i}" class="${isActive} item action-paresh">		${viewMap[i]}
			</a>
			<% } %>
		</div>
	</div>
	<header>
		<div class="ui grid">
			<div class="three wide column">
				<div class="ui small icon input   corner labeled  ">
					<input readonly="readonly" placeholder="开始日期" type="text" class="statistics-start">
					<i class="calendar icon"></i>
					<div class="ui corner label" title="清除日期">
						<i class="remove icon"></i>
					</div>
				</div>
			</div>
			<div class="three wide column">
				<div class="ui small icon input   corner labeled  ">
					<input readonly="readonly" placeholder="结束日期" type="text" class="statistics-end">
					<i class="calendar icon"></i>
					<div class="ui corner label" title="清除日期">
						<i class="remove icon"></i>
					</div>
				</div>
			</div>
			<div class="two wide column">
				<button class="ui  button blue btn-date-click" > 确定 </button>
			</div>
			
		</div>
		<div class="ui grid">
			<div class="three wide column">
				<button class="ui  button blue btn-current-month">
				<i class="calendar icon"></i>
				本月
				</button>
			</div>
			<div class="three wide column">
				<button class="ui  button blue btn-current-week" >
				<i class="unhide icon"></i>
				本周
				</button>
			</div>
			<div class="three wide column">
				<button class="ui  button blue btn-today" >
				<i class="unhide icon"></i>
				今天
				</button>
			</div>
		</div>
	</header>
	<div class="diagram-box">
		<div class="ui segment" style="height: 100%;">
			<div class="ui active inverted dimmer" style="border: none">
				<div class="ui text loader">加载中.....</div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="/static/css/page/dataanalysis/list.css">
<script type="text/javascript" src="/static/js/mod/dataanalysis/list.js"></script>