@import "../../liblus/_css3";
@import "../../liblus/widget";

.mod-statistics {
	width: 80%;
	margin: 30px auto;
	header {
		padding: 12px;
		margin-bottom: 30px;
		.grid .column {
			text-align: center;
		}
		.ui .corner i {
			cursor: pointer
		}
	}
	.diagram-box {
		height: 400px;
	}
}