.class-page-navi,
.page-nav {
  position: relative;
  margin-top: 20px;
}
.class-page-navi .port,
.page-nav .port {
  position: absolute;
  right: -200px;
  background: none;
rgba(39,41,43,0.15)
  display: -moz-box;
/* OLD - Firefox 19- (buggy but mostly works) */
  display: flex;
  display: -webkit-box;
/* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;
/* TWEENER - IE 10 */
  display: -webkit-box;
/* NEW - Chrome */
  -webkit-box-align: center;
  -o-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  border: 1px solid rgba(39,41,43,0.15);
  border-radius: 0.2857rem;
  font-size: 12px;
}
.class-page-navi .port div,
.page-nav .port div {
  padding: 4px;
}
.class-page-navi .port input,
.page-nav .port input {
  min-width: 60px;
  display: block;
  margin: 0;
  padding: 4px;
  border: none;
  background: rgba(39,41,43,0.15);
}
.class-page-navi .port .input,
.page-nav .port .input {
  background: none;
  outline: none;
}
.class-page-navi .port .input:focus,
.page-nav .port .input:focus {
  outline: none;
  color: #000;
  font-weight: bold;
}
.class-page-navi .pin,
.page-nav .pin {
  border: none !important;
  cursor: default;
  margin-left: -1px;
}
.file-picker input[type="file"] {
  display: none;
}
.class-btn-add-files {
  width: 200px;
  height: 40px;
  position: relative;
  overflow: hidden;
  background: #20a7e9;
  color: #fff;
  border-radius: 12px;
  line-height: 40px;
  text-align: center;
}
.class-btn-add-files input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.class-btn-add-files .text {
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.mod-atlas-list {
  padding: 20px;
}
.mod-atlas-list .tab-header {
  margin: 16px 0;
}
.mod-atlas-list .box-wrapper {
  position: relative;
  height: 400px;
}
.mod-atlas-list .box-wrapper .item {
  padding: 0 6px 20px 0;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #353535;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.mod-atlas-list .box-wrapper .item:hover .wrap .delete {
  display: block;
}
.mod-atlas-list .box-wrapper .item .delete {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  background: #000 url("/static/img/icons/delete.png") no-repeat center center;
  background-size: 12px;
  cursor: default;
  border-radius: 0 0 0 15px;
  display: none;
}
.mod-atlas-list .box-wrapper .item .wrap {
  position: relative;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}
.mod-atlas-list .box-wrapper .item .header {
  width: 100%;
  height: 65px;
  display: -moz-box;
/* OLD - Firefox 19- (buggy but mostly works) */
  display: flex;
  display: -webkit-box;
/* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;
/* TWEENER - IE 10 */
  display: -webkit-box;
/* NEW - Chrome */
  -webkit-box-align: center;
  -o-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
.mod-atlas-list .box-wrapper .item .header .head-img {
  width: 50px;
  height: 50px;
}
.mod-atlas-list .box-wrapper .item .header .head-img .small-pic {
  border-radius: 50%;
  margin-left: 5px;
  width: 50px;
  height: 50px;
}
.mod-atlas-list .box-wrapper .item .header .person-info {
  height: 20px;
  line-height: 20px;
  margin-left: 10px;
  padding: 10px 0 10px 5px;
  height: 60px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.mod-atlas-list .box-wrapper .item .header .person-info i {
  width: 18px;
  height: 18px;
  float: left;
  background-image: url("/static/img/icons/Clock.png");
  background-size: 18px;
  margin-right: 4px;
}
.mod-atlas-list .box-wrapper .item .desc {
  width: 100%;
  padding: 6px;
  font-size: 13px;
}
.mod-atlas-list .box-wrapper .item .pic-wrap {
  overflow: hidden;
}
.mod-atlas-list .box-wrapper .item .pic {
  width: 100%;
  height: auto;
  background: #808080;
  -webkit-transition: all 0.62s ease-in-out;
  -o-transition: all 0.62s ease-in-out;
  -moz-transition: all 0.62s ease-in-out;
  -ms-transition: all 0.62s ease-in-out;
  transition: all 0.62s ease-in-out;
}
.mod-atlas-list .box-wrapper .item .pic:hover {
  -webkit-transform: scale3d(1.5, 1.5, 1);
  -o-transform: scale3d(1.5, 1.5, 1);
  -moz-transform: scale3d(1.5, 1.5, 1);
  -ms-transform: scale3d(1.5, 1.5, 1);
  transform: scale3d(1.5, 1.5, 1);
}
.mod-atlas-list .box-wrapper .item .sum {
  height: 30px;
}
.mod-atlas-list .box-wrapper .item .sum .praise-num,
.mod-atlas-list .box-wrapper .item .sum .comment-num,
.mod-atlas-list .box-wrapper .item .sum .location {
  padding: 6px;
}
.mod-atlas-list .box-wrapper .item .sum .location {
  float: right;
  max-width: 100px;
  max-width: 92px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mod-atlas-list .box-wrapper .item .sum .location i {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background: url("/static/img/icons/16/location1.png") no-repeat center center;
  background-size: 9px;
}
.mod-atlas-list .box-wrapper .item .sum .praise-num {
  float: left;
}
.mod-atlas-list .box-wrapper .item .sum .praise-num i {
  width: 16px;
  height: 16px;
  float: left;
  background: url("/static/img/icons/16/heart.png") no-repeat center center;
  background-size: 16px;
  margin-right: 5px;
}
.mod-atlas-list .box-wrapper .item .sum .comment-num {
  float: left;
  margin-left: 5px;
}
.mod-atlas-list .box-wrapper .item .sum .comment-num i {
  width: 16px;
  height: 16px;
  float: left;
  background: url("/static/img/icons/16/bubble.png") no-repeat center center;
  background-size: 16px;
  margin-right: 5px;
}
