@import "../../liblus/_css3";

body {
	background: #262425;
	background: #1f8305;
	background: #950516;
}

.login {
	border-radius: 12px;
	margin: 200px auto;
	width: 400px;
	background: #EAEEF0;
	
	padding: 10px;
	color: #BAC5C6
	h2 {
		text-align: center;
		border-bottom: 1px solid #e8e8e8;
		padding-bottom: 6px;
		margin: 0px 12px;
		color: #383838
	}
	.row { 
		margin: 20px;
	}
	input {
		height: 40px;
		width: 100%;
		padding: 0px 14px;
		display: block;
		border: 1px solid #e8e8e8;
		box-sizing: border-box;
		border-radius: 6px;
		font-size: 14px;
		color: #666;
		&:focus {
			font-weight: bold;
		}
	}
	input[type="submit"] {
		border: none;
		font-size: 16px;
		background: #E5102A;
		color: #fff;
		cursor: pointer;
		&:hover {
			background: #FF2D2D;
		}
	}
	.status-code {
		border-radius: 3px;
		height: 24px;
		line-height: 24px;
		color: #ffa500;
		padding-left: 8px;
		font-size: 12px;
	}
}

 

