@import "../../liblus/_css3";
@import "../../liblus/widget";

.mod-label-publish {
	position: relative;
	margin: 20px;
	.row {
		margin: 10px 0;
	}
	select.ui.dropdown {
		width: 200px;
		height: 30px !important;
		background: #fff;
		visibility: visible;
		option {
			width: 500px;
			height: 50px;
		}
	}
	.selection:focus {
		border: 1px solid red;
	}
	.title {
		margin: 0;
		padding: 10px;
	}
}
