@import "../../liblus/_css3";
@import "../../liblus/widget";

.mod-verify-box {
	margin: 20px;
	input {
		border-radius: 5px;
		height: 30px;
	}
	.wrapper {
		margin: 20px 0 20px 50px;
		.msgresult {
			color: red;
			margin-top:10px;
		}
	}
	.choice {
		width: 200px;
		margin: 20px 0 20px 50px;
	}
	.register {
		margin-top: 20px;
		text-align: center;
		width: 300px;
		height: 250px;
		overflow: hidden;
		.pwd {
			margin-top: 20px; 
			margin-left: 21px;
		}
		.repwd {
			margin-top: 20px; 
		}
		.validcode {
			margin-left: 8px;
			margin-top: 20px; 
		}
		.register-result {
			color: red;
			margin-top: 10px;
			display: none;
		}
		.submit {
			margin: 20px 0 0 150px;
		}
	}
	.reset-pwd {
		overflow: hidden;
		display: none;
		margin-top: 20px;
		text-align: center;
		width: 300px;
		height: 250px;
		.pwd, .validcode, .newpwd {
			margin-top: 20px; 
			margin-left: 13px;
		}
		.renewpwd {
			margin-top: 20px; 
		}
		.reset-result {
			color: red;
			margin-top: 10px;
			display: none;
		}
		.submit {
			margin: 20px 0 0 164px;
		}
	}

}