.mod-test {
	color: white;
	content: ""
}
.sub-a, .sub-b {
	background: #4cd964;
	padding: 10px;
	min-height: 300px;
}
.sub-b {
	background: #5ac8fa;
}
.sub-a-1, .sub-a-2 {
	background: #007aff;
	height: 80px;
	margin: 20px;
}
.sub-a-2 {
	background: #5856d6;
}

.sub-children {
	background: red;
}

.sub-children:nth-child(even) {
	background: yellow;
}
