<div class="mod-welcome" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; ">
	<!-- <iframe src="http://www.itplusapp.com" height="100%" width="100%" frameborder="0"></iframe> --><!-- 
	<img src="/static/img/logo.png" style="width: 200px;margin: 100px auto" alt="">-->
	<div style="padding: 100px; text-align: center;font-size: 40px;">欢迎来到诺亚平台</div> 
	<div style="padding: 50px;">
		<div style="float: left; width: 40%; text-align: right;">有问题请联系：</div>
		<div style="width: 60%; float: right;">
		<table>
			<tbody>
				<tr>
					<td>老刘</td>
					<td>&nbsp;</td>
					<td>电话：18600161656</td>
				</tr>
				<tr>
					<td>车大大</td>
					<td>&nbsp;</td>
					<td>电话：18518762998</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	<p style="padding-left: 50px;">
	
	</p>
</div>

