<div class="mod-atlas-rel-category">
	<div class="left">
		<div class="left-wrap">
			<div class="search-input">
				<div class="ui fluid icon input">
					<input type="text" placeholder="搜索标签...">
					<i class="tag icon"></i>
					<div class="ui-suggestion"></div>
				</div>
			</div>
			<div class="box">
				<% for(var i = 0; i < list.length; i++) { %>
					<%
						var cate = list[i];
						var subcateArray = list[i].subcate || [];
						var len = subcateArray.length;
					%>
					<ul class="category-list">
						<li class="category-list-title category-list-item" data-id="${cate.id}">
							<p class="name">${cate.name}</p>
							<img src="${cate.surfaceImg}" alt="">
						</li>
						<% for(var j = 0; j < len; j++) { %>
						<%
							var subcateItem = subcateArray[j];

						%>
						<li class="category-list-item label" data-id="${subcateItem.id}" >
							<p class="name">${subcateItem.name}</p>
							<img src="${subcateItem.surfaceImg}" alt="">
						</li>
						<% } %>	
					</ul>
				<% } %>
			</div>
		</div>
	</div>
	<div class="middle">
		<div class="title">
			<a class="user-link" target="_blank" href="#" title="查看她的图集">
				<img src="" alt="">
				<p class="btn-recommend" data-id="">
					推荐
				</p>
			</a>
			<div class="info">
				<p class="name"></p>
				<p class="time"></p>
			</div>
		</div>
		<div class="middle-box">
			<div class="main-img">
				<img src="" class="img" alt="" >
				<div class="prev">
					<div class="arrow-left">
						
					</div>
				</div>
				<div class="next">
					<div class="arrow-right">
					</div>
				</div>
			</div>
			
			<div class="middle-bottom">
				<p>已关联标签</p>
				<div class="label-box">
				</div>
				<div>
					<div class="ui buttons status" style="margin-bottom: 16px;">
						<button class="ui  button" data-id="2">忽略</button>
						<div class="or"></div>
						<button class="ui  button" data-id="4">待定</button>
					</div>
				</div>
				<div class="ui blue big button btn-rel">保存</div>
				<div class="ui blue big button btn-filter green">筛选</div>
			    <div class="checkbox" title="自动翻页"></div>
			</div>
		</div>
	</div>
	<div class="right" id="wrapper">
		<div class="sub-img-box" id='scroller'>
			<div class="all-img-box"> </div>
		</div>
		<div class="console">
			<p class="index">10</p>
			<p class="hr">——</p>
			<p class="page">20</p>
		</div>
	</div>
	<div class="filter">
		<div class="ui form">
			<div class="three fields">
				<div class="field ui icon input">
			        <i class="calendar icon"></i>
			        <input placeholder="日期" type="text" name="date" class="date">
			    </div>
				<div class="field">
					<select>
						<option value="99">全部</option>
						<option value="1">未编辑</option>
						<option value="2">忽略</option>
						<option value="4">待定</option>
						<option value="5">已完成</option>
					</select>
				</div>
				<div class="field ui button btn-query black">筛选</div>
			</div>
		</div>
		<div class="btn-close">收起</div>
	</div>
	<script type="text/javascript"  src="/static/js/base/iscroll.js"></script>
	<script type="text/javascript"  src="/static/js/mod/category/rel.js"></script>
	<link rel="stylesheet" href="/static/css/page/category/rel.css">
	<link rel="stylesheet" href="/static/plugins/datetime.picker/jquery.datetimepicker.css">
</div>
