@import "../../liblus/_css3";
@import "../../liblus/widget";

// start file
.mod-message-by-group {
	.sub-header {
		padding: 12px;
		position: fixed;
		top: $_headerHeight;
		z-index: 9999;
		right: 0;
		left: $_sidebarWidth;
	}
}
 