@import "../../liblus/_css3";
@import "../../liblus/widget";

// start file
.mod-music-list {
	padding: 20px;
	position: relative;
	margin: 20px;
	padding-top: 12px;
	position: relative
	.header {
		margin-bottom: 12px;
		
	}
	.ui.tabular .active.item {
		background: #F7F9FA
		border-bottom: none
	}
	tr.green {
		background: green !important;
		color: #000;
	}
	tr.yellow {
		background: green !important;
		color: #000;
	}
}

.page-nav {
	margin-top: 20px !important;
	
	@extend .class-page-navi
}
