@import "../../liblus/_css3";
.mod-test {
	color: white;
}
.sub-a, .sub-b {
	background: #4cd964;
	padding: 10px;
	height: 300px;
}
.sub-b {
	background: #5ac8fa;
}
.sub-a-1, .sub-a-2 {
	background: #007aff;
	height: 80px;
	margin: 20px;
}
.sub-a-2 {
	background: #5856d6;
}